#descritivo{
    padding: var(--padding-padrao);
}

#linha-nome {
    align-items: center;
    display: flex;
    margin-bottom: 3px;
    gap: var(--gap-padrao);
}
#linha-nome label {
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--main-background-color);
    display: flex;
    font-size: 12px;
    height: 25px;
    padding-left: 10px;
    width: 100%;
}


#linha-tripla {
    align-items: center;
    display: flex;
    margin-bottom: 3px;
    gap: var(--gap-padrao);
}
#linha-tripla label {
    align-items: center;
    background-color: var(--main-background-color);
    display: flex;
    font-size: 12px;
    height: 25px;
    padding-left: 10px;
    width: 50%;
}


#linha-dupla {
    align-items: center;
    display: flex;
    margin-bottom: 3px;
    gap: var(--gap-padrao);
}
#linha-dupla label {
    align-items: center;
    background-color: var(--main-background-color);
    display: flex;
    font-size: 12px;
    height: 25px;
    padding-left: 10px;
    width: 50%;
}


#linha-moedas {
    align-items: center;
    display: flex;
    gap: var(--gap-padrao);
}
#linha-moedas label {
    align-items: center;
    background-color: var(--main-background-color);
    display: flex;
    height: 25px;
    font-size: 14px;
    padding-left: 10px;
    width: 25%;
}
#linha-moedas input {
    text-align: center;
    margin: 0;
}
