#habilidade {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.linhas {
    align-items: center;
    background-color: #EDEDED;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25px;
    margin: 2px;
} 

.linhas input {
    background-color: #EDEDED;
    border: none;
    border-radius: 3px 0 0 0;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}

.linhas > p {
    align-items: center;
    border-left: solid #CDCDCD 2px;
    height: 90%;
    margin-right: 5px;
    padding-left: 5px;
    width: 150px;
}

.linhas > span {
    background-color: #EDEDED;
    border: none;
    border-left: solid #CDCDCD 2px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}

