#lista-simples {
    display: flex;
    flex-direction: column;
    gap: var(--gap-padrao);
}

#criar,
#display {
    display: flex;
    gap: var(--gap-padrao);
}

#criar button,
#criar-pericia button,
#display button {
    width: 35px;
    border: none;
}

#criar-pericia button {
    width: 100%;
    border: none;
}

#criar-pericia,
.display-pericia {
    display: grid;
    grid-template-areas: 'a b c';
    grid-template-columns: 60% auto auto;
    gap: var(--gap-padrao);
    width: 100%;
}

#criar-pericia {
    grid-template-columns: 60% auto 13.5%;
}

#criar-pericia input:first-child,
.display-pericia input:first-child {
    grid-area: b;
}

#criar-pericia input::last-child,
.display-pericia input:last-child {
    grid-area: a;
}

.quantidade {
    width: 100px;
}

#btn-quantidade {
    width: 100px;
}