.status-input, .linha-descritiva input{
    border: none;
    background-color: transparent;
    text-align: center;
}
#status {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-padrao);
    width: 100%;
    padding: var(--padding-padrao);
}

.status-triplo {
    display: grid;
    height: 100%;
    background-color: var(--main-background-color);
    justify-content: space-between;
    padding: .5rem;
    border-radius: var(--border-radious);
}

.linha-descritiva {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%; 
    font-size: 12px;
    height: 24px;
}
.linha-descritiva input{
    width: 50px;
    text-align: end;
}
.status-input{
    font-size: 2.4rem;
    height: 3rem;
}