.geral {
    display: flex;
    flex-direction: column;
    padding: var(--padding-padrao);
}

#titulos {
    align-items: center;
    background-color: var(--main-color);
    border-radius: 15px 15px 0 0;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    margin-bottom: 3px;
    text-transform: uppercase;
    padding: var(--padding-padrao);
}

#setaGrid {
    display: flex;
    gap: var(--gap-padrao);
}

#setaGrid > div:last-child {
    width: 50%;
}

/* .expandable {
  overflow: hidden;
}
 */

/* .expandable {
  overflow: hidden;
  height: fit-content;
}

.expandable div {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.1s;
}

.expandable.expanded div {
  max-height: fit-content;
} */
