.geral {
    display: flex;
    flex-direction: column;
}

#titulos {
    background-color: #4F83A0;
    border-radius: 15px 15px 0 0;
    color: #FFFFFF;
    text-align: left;
}

#titulos > p {
    margin-left: 15px;
}

#setaGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
