@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --font-title-color: rgb(255, 255, 255);
  --main-color: hsla(201, 34%, 47%, 1);
  --body-background-color: hsla(0, 0%, 80%, 1);
  --main-background-color:#EDEDED;
  --border-radious: 5px 5px 0 0;
  --main-padding-inp-button: 1rem 2rem;
  --padding-padrao: .5rem 1rem;
  --gap-padrao: 3px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--body-background-color);
  position: relative;
  height: 100vh;
}

input{
  background-color: var(--main-background-color);
  border: none;
  padding: var(--padding-padrao);
  width: 100%;
}

.clean-filter, .btn-trash {
  background-color: #EDEDED;
  border: none;
  height: 23px;
  width: 23px;
}
